.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
}
.nav-bar > img {
  height: 10vh;
}
.nav-items > a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: hsl(233, 8%, 62%);
  margin: 20px;
}
.loginbutton {
  padding: 12px 28px;
  border: none;
  outline-width: 0;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.2rem;
  background-image: linear-gradient(
    120deg,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
}
/* Navbar ends here */
